/.idea 
/.ipynb_checkpoints 
MasterThesis_Prototype_Python.iml
/venv
/venv/*


/app/.ipynb_checkpoints
/app/test.jpg
/app/video.avi
/app/dist
/app/build
/app/model_checkpoints
/app/*.dat
/app/*.csv


/training/.ipynb_checkpoints
/training/__pycache__
/training/best
/training/datagen_preview
/training/model_checkpoints
/training/numpy
/training/visualization
/training/extract_subjects

/training/*.txt
/training/Untitled.ipynb_checkpoints
/training/datagen_preview
/training/best_model.h5
/training/shape_predictor_68_face_landmarks.dat
/training/__pycache__

/training_RNN/__pycache__
/training_RNN/model_checkpoints
/training_RNN/_data_prep/*.npy