/.idea 
/.ipynb_checkpoints 
MasterThesis_Prototype_Python.iml

/app/.ipynb_checkpoints
/app/test.jpg
/app/model_top.h5
/app/video.avi

/training/.ipynb_checkpoints
/training/model_checkpoints
/training/*.txt
/training/numpy
/training/visualization

